[submodule "statbotics_api"]
	path = statbotics_api
	url = https://github.com/statbotics/statbotics_api
[submodule "statbotics_backend"]
	path = statbotics_backend
	url = https://github.com/statbotics/statbotics_backend
[submodule "statbotics_calc"]
	path = statbotics_calc
	url = https://github.com/statbotics/statbotics_calc
[submodule "statbotics_frontend"]
	path = statbotics_frontend
	url = https://github.com/statbotics/statbotics_frontend
