[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-cors-headers = "*"
djangorestframework = "*"
django = "*"
pymysql = "*"

[requires]
python_version = "3.7"
