asgiref==3.2.7
atomicwrites==1.4.0
attrs==19.3.0
colorama==0.4.3
Django==3.0.6
django-cors-headers==3.2.1
djangorestframework==3.11.0
importlib-metadata==1.6.0
more-itertools==8.3.0
packaging==20.3
pluggy==0.13.1
py==1.8.1
PyMySQL==0.9.3
pyparsing==2.4.7
pytest==5.4.2
pytest-django==3.9.0
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
wcwidth==0.1.9
zipp==3.1.0
