.body {
  margin: 2%;
  padding: 15px;
}

.container {
  text-align: center;
  border-bottom: 1px solid gray;
}

.outline {
  margin: auto;
  text-align: center;
}

.red {
  background-color: #ffdddd;
}

.blue {
  background-color: #ddddff;
}

.link {
  color: #3d5ec4;
}
