.body {
  width: 95%;
  margin: 20px auto;
  padding: 0%;
}

.button_group {
  width: 100%;
  padding: 10px 0%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.button {
  margin: 0% auto;
  max-width: 175px;
}


.dropdown {
  margin: 0% auto;
  width: 175px;
}
