.link {
  margin-right: 4%;
  width: 150px;
}

.link :hover {
  cursor: "pointer";
  text-decoration: none;
  color: white;
}

.link :visited {
  cursor: "pointer";
  text-decoration: none;
  color: white;
}
