.navItem {
  margin-right: 5px;

}

.search {
  width: 225px;
  margin-right: 25px;
  font-size: 11px;
  z-index: 9999;
}

@media (max-width: 992px) {
  .search {
    width: 80%;
    margin: 10px 10% 0 10%;
    font-size: 14px;
  }
}
