.header {
  font-family: "Playfair Display SC", "Courier New";
  font-size: 4em;
  text-align: center;
  display: block;
  margin: 0;
}

.subheader {
  font-family: "Playfair Display SC", "Courier New";
  color: #3f51b5; /*primary-main*/
  font-size: 2em;
  text-align: center;
  margin: 0;
}

.Typist .Cursor {
  display: inline-block;
}
.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 750px) {
  .header {
    font-size: 3em;
  }
}

@media (max-width: 620px) {
  .header {
    font-size: 2.5em;
  }

  .subheader {
    font-size: 1.5em;
  }
}

@media (max-width: 500px) {
  .header {
    font-size: 2em;
  }

  .subheader {
    font-size: 1em;
  }
}
