.chart {
  height: auto;
  width: 80%;
  margin: auto;
  margin-top: 25px;
  padding: 30px;
}

.dropdown {
  margin: 0% auto;
  width: 500px;
}

.height {
  height: 20px;
}

@media (max-width: 750px) {
  .chart {
    width: 96%;
    margin: 2%;
    padding: 5px;
  }

  .dropdown {
    width: 80%;
  }
}
