.card {
  width: 50%;
  margin-top: 2%;
  margin-left: 25%;
  padding: 2%;
}

.sub_card {
  width: 40%;
  margin: 3%;
  padding: 2%;
  border: 3px solid #3f52b5;
}

@media (max-width: 750px) {
  .card {
    width: 100%;
    margin: 0;
    padding: 3%;
  }

  .sub_card {
    width: 90%;
  }
}

.height {
  height: 20px;
}

.button_group {
  width: 100%;
  padding: 10px 0%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
